**/*.sqlite3
**/.DS_Store
**/__pycache__
**/update/**

TopoScope/test.path
TopoScope/test.arout
Apollo/
log/
testfoleder/
testfoledercopy/
.vstags
.vscode/

**/*.txt
**/*.ap2
**/*.cf
**/*.arout
**/*.ar
**/*.rel

pg.json
cmp.md
model.py
perl_clique
python_clique
rel_20201201.uny.it.test
cmp2.md
*.csv
v6r.md
TopoScope/asrank_irr_v6_3.pl
TopoScope/asrank_irr_v6_5.pl
TopoScope/asrank_irr_v6_7.pl