**/*.sqlite3
**/.DS_Store
**/__pycache__

TopoScope/test.path
TopoScope/test.arout
Apollo/
log/
testfoleder/
testfoledercopy/
.vstags
.vscode/

**/*.txt
**/*.ap2
**/*.cf
**/*.arout
**/*.ar
**/*.rel

pg.json
cmp.md
model.py